.languageImage {
  width: 550px;
  height: 500px;
}
.MultilingualContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.buttonContainer {
  display: flex;

  width: 300px;
  height: 100px;
  margin-left: 0px;
  padding-left: 0px;
  justify-content: space-around;
}
.eachListItem {
  list-style-type: none;
  margin-right: 20px;
}
.buttonStyles {
  font-size: 20px;
  color: #db1c48;
  background-color: transparent;
  border: 1px solid #db1c48;
  padding: 5px 10px 5px 10px;
  border-radius: 15px;
  cursor: pointer;
}

.isActiveTheme {
  background-color: #db1c48;
  color: white;
  font-size: 20px;
  border: 1px solid #db1c48;
  padding: 5px 10px 5px 10px;
  border-radius: 15px;
  cursor: pointer;
}
.multiHeading {
  font-size: 50px;
}
